<h2> Order Successfully created!! </h2>
<h3> Order Details: <br>
Order ID: <%= @order.id %> <br>
Product name: <%= @order.product.name %> <br>
Email: <%= @order.user.email %> <br>
Quantity: <%= @order.quantity %> <br> 
Subtotal: <%= @order.subtotal %> <br>
Tax: <%= @order.tax %> <br>
Total: <%= @order.total %> <br>
</h3>

<h2> Your order is now confirmed!! </h2>