<h2> Cart Information: </h2>
<% @carted_products.each do |carted_product| %>
<h2><%= carted_product.product.name %></h2>
<h3>Quantity: <%= carted_product.quantity %></h3>
<h3>User ID : <%= carted_product.user_id %></h3>
<h3> ID: <%= carted_product.product_id %></h3>
<h3>Status: <%= carted_product.status %></h3>
<% end %>

<%= form_tag "/orders", method: :post do %>
  <input type="Submit" class="btn btn-default" value="Buy Now!!!">
<% end %>

