<h1> Product Information </h1>
<% @product %>
<p>
  
  Name: <%= @product.name %>  
  <h5> Made By: <%= @product.supplier.name %> </h5><br>
  Price: <%= number_to_currency(@product.price) %> <br>
  Images: 
  <% @product.images.each do |image| %> 
    <img src="<%= image.url %>" alt="product.name">
  <% end %>
  <br> 
  Description: <%= @product.description %> <br>
  <% if @product.discounted? %>
    "Discounted!"
  <% end %>
   <br>
  Estimated tax: <%= number_to_currency(@product.tax) %> <br>
  Total: <%= number_to_currency(@product.total) %> 
  
  </p>

  <%= form_tag "/products/#{@product.id}" , method: :delete do %>
<input type="Submit" value="Destroy product">
<% end %>
  

