<h1> Product Information </h1>
<% @product %>
<p>
  <li> 
  Name: <%= @product.name %> <br> 
  Price: <%= number_to_currency(@product.price) %> <br>
  Image: <%= @product.image %> <br> 
  Description: <%= @product.description %> <br>
  <% if @product.discounted? %>
    "Discounted!"
  <% end %>
   <br>
  Estimated tax: <%= number_to_currency(@product.tax) %> <br>
  Total: <%= number_to_currency(@product.total) %> 
  </li>
  </p>

  <%= form_tag "/products/#{@product.id}" , method: :delete do %>
<input type="Submit" value="Destroy product">
<% end %>
  

